PRODUCT_BUNDLE_IDENTIFIER = $(SHARED_PRODUCT_BUNDLE_IDENTIFIER)

INFOPLIST_FILE = Application/Supporting Files/Info.plist
CODE_SIGN_ENTITLEMENTS = Application/Supporting Files/Entitlements.entitlements
ENABLE_HARDENED_RUNTIME = YES

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks

OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) $(LLVM_CXXFLAGS)

COMBINE_HIDPI_IMAGES = YES
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
